shell=`basename $SHELL`

if [ -f {{ easybuild_prefix }}/{{ easybuild_subdir_software }}/lmod/lmod/init/$shell ]
then

    export PATH={{ easybuild_prefix }}/{{ easybuild_subdir_software }}/lmod/lmod/libexec:$PATH
    . {{ easybuild_prefix }}/{{ easybuild_subdir_software }}/lmod/lmod/init/$shell

    for dir in `ls -1 {{ easybuild_prefix }}/{{ easybuild_subdir_modules }}| egrep -v '^all$' `
    do
	export MODULEPATH="$MODULEPATH:{{ easybuild_prefix }}/{{ easybuild_subdir_modules }}/$dir"
    done

fi
